*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
html{
    height: 100%;
}
.list-group{
    height: 643px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.row{
    margin-top: 10px;
    padding: 3px 6px;
    align-items: center;
}
.alinear{
    margin-top: 5px;
    width: 100%;
}
