*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
html{
    height: 100%;
}
.list-group{
    height: 559px;
    overflow-y:scroll;
    overflow-x: hidden;
}
nav{
    padding: 10px 10px;
}
.navButton{
    padding: 1px 4px;
}
.row{
    margin-top: 10px;
    padding: 3px 6px;
    align-items: center;
}
.alinear{
    margin-top: 5px;
    width: 100%;
}
footer{
    justify-content: center;
}
footer div{
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 0px;
}
footer div p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 14px;
    margin-bottom: 0;
}
